# Backend
WebApplication1/bin/
WebApplication1/obj/
WebApplication1/appsettings.Development.json
*.user

# Frontend
frontend-juridique/node_modules/
frontend-juridique/.next/
frontend-juridique/out/

# IDE
.vs/
.vscode/
*.suo

# OS
Thumbs.db
Desktop.ini
.DS_Store
